$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);
//lagi dapat nasa last para ma over-ride
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/bootstrap/scss/_variables.scss';

#root{
  display: flex;
  flex-direction: column;
}

.custom-footer{
  position: relative;
  bottom: 0;
}


.App, .main-content{
  min-height: 100vh;
}

.registerCard{
  width: 500px;
}

#formError{
  display: none;
}

input:invalid ~ #formError{
  display: block;
}


.concert-card{
  background-color: $purple-800;
  color: $white;
}

.info-card{
  background-color: $dark;
  color: $white;
}

.concertCard{
  transition: transform 0.2s cubic-bezier(0.5, 1, 0.89, 1) !important;
}


.concertCard:hover{
  transform: scale(1.06) !important;
}

.main-cards{
  margin-bottom: 20px;
}

.img-cs{
  width: 100%;
  height: 400px;
}

.public-cards{
  transform: scale(0.9);
}

.feedback-invalid{
  color: red;
}

.aspect-ratio-container{
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  margin-bottom: 30px;
}

.aspect-ratio-container img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-nav {
  .active{
    border-bottom: #ffff76 1px solid;
  }
}

.customBreadCrumb{
  background-color: #495057;
  padding: 20px;
}

.MuiBreadcrumbs-separator{
  color: white;
}

.customBreadLink{
  text-decoration: none;
  color: #adb5bd;
}

.MuiBreadcrumbs-li {
  .active{
    color: #3CB3F0 !important;
  } 
}


.MuiOutlinedInput-input, .MuiOutlinedInput-root, .MuiTextField-root{
  color: white !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    user-select: none;
  }
  li:hover{
    cursor: pointer;
    color: #ffff76;
  }

  .active{
    color: #3CB3F0;
    font-weight: 600;
  }

}

.list-item{
  transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.ticketContainer{
  width: 100%;
  height: 600px;

}

.ticketType{
  background-color: #0a0908;

  height: 100%;
  overflow-y: scroll;
  ul{
    width: 100%;
    text-align: center;
    
    li{
      padding: 10px 0 10px 0;
    }
    .active{
      border-left: #42B3F0 solid 5px !important;
      background-color: #49505770;
    }
  }
}

.ticketInfoContainer{
  background-color: #04052e;
  height: 100%;
}

.ticketInfoTable{
  height: 90%;
  overflow-y: scroll;
  position: relative;
  table{
    position: absolute;
  }
}

.customSticky{
  position: sticky;
  top: 20px;
}